# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS credentials
.aws/
credentials

# Environment / secrets
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
